* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
  
  .top {
    height: 1024px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000915 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
    background-image: url(./img/bgf_header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 218px;
    &__title{
      max-width: 788px;
      color: #FFF;
      font-size: 64px;
      font-weight: 700;
    }
    &__text{
      max-width: 480px;
      margin-top: 32px;
      margin-bottom: 44px;
      color: #FFF;
      font-size: 18px;
      font-weight: 300;
      line-height: 32px;
    }
    &__button{
      width: 234px;
      height: 48px;
      border-radius: 30px;
      background-color: #9C0332;
      color: #FFF;
      font-size: 18px;
      font-weight: 400;
      text-decoration: none;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      transition: background-color 0.2s ease-in; 
        &:hover {   
            background: #EB443F;
        } 
      }
    }
  
 
  
  .for {
    background: #000915;
    padding-top: 128px;
    padding-bottom: 128px;
    &__item{
      height: 300px;
      grid-column: span 4;
      border: 3px solid #000915;
      border-radius: 16px;
      background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
      text-decoration: none;
      transition: border .5s ease-in;
      &:hover{
        border: 3px solid #44D2FF;
      }
      &-box{
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(12, 1fr);
      }
      &-title{
        color: #FFF;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.3;
        margin-top: 236px;
        margin-left: 32px;
      }
    }
  }
  .for__item:nth-child(1){
    background-image: url(./img/Game1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .for__item:nth-child(2){
    background-image: url(./img/Game2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .for__item:nth-child(3){
    background-image: url(./img/Game3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .game{
    padding-top: 234px;
    padding-bottom: 234px;
    background: #000915;
    display: flex;
    justify-content: space-between;
    gap: 135px;
    &__item{
      color: #FFF;
      font-size: 48px;
      font-weight: 700;
    }
    &__info{
      color: #FFF;
      font-size: 18px;
      font-weight: 300;
      line-height: 32px;
      &-box{
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
    }
    &__button{
      width: 234px;
      height: 48px;
      border-radius: 30px;
      border: #9C0332;
      background: #9C0332;
      color: #FFF;
      font-size: 18px;
      font-weight: 400;
      transition: background-color 0.2s ease-in; 
      &:hover{
        background: #EB443F;
        cursor: pointer;
      }
    }
    &__img{
      max-width: 485px;
      width:100%;
      height: auto;
    }
  }

  @import 'mobile';